{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
        <img src="https://cdn8.openculture.com/2022/06/21191516/Stanford-Deeplearning.ai-email-social-2-1024x536.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Machine Learning</h5>
            <p class="card-text">The Machine Learning Specialization is a foundational online program created in collaboration between DeepLearning.AI and Stanford Online. This beginner-friendly program will teach you the fundamentals of machine learning and how to use these techniques to build real-world AI applications. </p>
            <a href="https://www.coursera.org/specializations/machine-learning-introduction#courses" class="btn btn-primary">Link</a>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
        <img src="https://www.freecodecamp.org/news/content/images/size/w2000/2023/08/harvardai.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CS50 AI course</h5>
            <p class="card-text">This course explores the concepts and algorithms at the foundation of modern artificial intelligence, diving into the ideas that give rise to technologies like game-playing engines, handwriting recognition, and machine translation.</p>
            <a href="https://cs50.harvard.edu/ai/2024/" class="btn btn-primary">Link</a>
        </div>
    </div>
</div>
</div>
{% endblock content %}