{% extends "base.html" %}
{% block content %}
<div class="container bg-dark text-primary">
<h1>Array vs List</h1>
<p>Geek for geeks: "In programming, lists and arrays are data structures used to organize and store data. Both have their unique features and purposes. Lists are dynamic and flexible, allowing for easy resizing during runtime, while arrays are static with a fixed size. This difference impacts memory usage and performance."</p>

<p>Grouped or collection of elements in different Languages</p>

<img src="{{ url_for('static', filename='array_table.png') }}" class="card-img-top" alt="...">

<p>Sources:</p>
<ol>
    <li>
        <a href="https://www.w3schools.com/python/">https://www.w3schools.com/python/</a>
    </li>
    <li>
        <a href="https://www.geeksforgeeks.org/">https://www.geeksforgeeks.org/</a>
    </li>
    <li>
        <a href="https://www.php.net/SplFixedArray">https://www.php.net/SplFixedArray</a>
    </li>
</ol>

<p>Other sources</p>
<ol>
    <li>
        <a href="https://medium.com/backticks-tildes/list-vs-array-python-data-type-40ac4f294551">https://medium.com/backticks-tildes/list-vs-array-python-data-type-40ac4f294551</a>
    </li>
    <li>
        <a href="https://www.geeksforgeeks.org/difference-between-list-and-array-in-python/">https://www.geeksforgeeks.org/difference-between-list-and-array-in-python/</a>
    </li>
    <li>
        <a href="https://www.indeed.com/career-advice/career-development/list-vs-array">https://www.indeed.com/career-advice/career-development/list-vs-array</a>
    </li>
    <li>
        <a href="https://www.geeksforgeeks.org/what-is-the-difference-between-lists-and-arrays/#difference-between-lists-and-arrays">https://www.geeksforgeeks.org/what-is-the-difference-between-lists-and-arrays/#difference-between-lists-and-arrays</a>
    </li>
</ol>
</div>
{% endblock content %}