{% extends "base.html" %}
{% block content %}
    <div class="row">
        {% for link in links %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ link.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.title }}</h5>
                        <p class="card-text">{{ link.description }}</p>
                        <a href="{{ link.url }}" class="btn btn-primary" target="_blank">Link</a>
                        <i class="bi bi-hand-thumbs-up"></i>
                        {{ link.likes|length }}
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="card-footer text-body-secondary" style="text-align: center;">
                            {% if like.query.filter_by(user_id=current_user.id, link_id=link.id).first() %}
                                <a  href="{{ url_for('unlike_link', link_id=link.id) }}" style="color: inherit;text-decoration: none;"><i class="bi bi-hand-thumbs-up-fill"></i> Liked</a>
                            {% else %}                                
                                <a  href="{{ url_for('like_link', link_id=link.id) }}" style="color: inherit;text-decoration: none;"><i class="bi bi-hand-thumbs-up"></i> Like</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
