{% extends "base.html" %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="https://i.ytimg.com/vi/QnDWIZuWYW0/maxresdefault.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Flask with Corey-Schafer</h5>
      <p class="card-text">In this Python Flask Tutorial, you will be learning how to get started using the Flask framework, creating a blog app from scratch.</p>
      <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" class="btn btn-primary">Link</a>
    </div>
  </div>
{% endblock content %}